.cache
build
/build-debug
/build-release
/build-web-debug
/build-web-release
/game/src/RegisterScripts.cpp
/game/include/RegisterScripts.generated.hpp
project/*
!project/assets/
!project/assets/**
.vscode
*.zip
__cmake_systeminformation
*vgcore.*

.codex
